:root {
  --black-color: #31363f;
  --white-color: #eeeeee;
  --turquoise-color: #76abae;
}

#footer {
  position: relative;
  bottom: 0;

  width: 100%;
  padding: 1.5rem;
  background-color: var(--black-color);
}

#footer-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.fa {
  font-size: 1.25rem;
  color: var(--white-color);
  margin-right: 0.5rem;
}

.footer-items {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}
